<!-- Show loading spinner if page loading -->
<div *ngIf="!loading; else pageLoading">
  <!-- Allow only one accordion to be open at any given time -->
  <p-accordion [multiple]="false">
    <!-- By default, open the accoridion where todays date falls -->
    <!-- For every round in a season show the current schedule in a tab -->
    <p-accordionTab [selected]="betweenDates(addDay(round.startDate, -1), addDay(round.startDate, 6), round.startDate)" *ngFor="let round of season; let i = index" style="width: 100%;" [header]="'Round ' + (i + 1) + ' - ' + round.startDate">
      <!-- Copy to clipboard button, allows sharing to social media -->
      <div class="resend">
        <p-button label="Copy to clipboard" (click)="copyToClipboard(round, index)" icon="pi pi-external-link"></p-button>
      </div>
      <!----------- MONDAY ------------>
      <p-card class="day">
        <h3>Monday - {{round.startDate}}</h3>
        <div class="day-class">
          <div class="times-container">
            <div class="side-name">
            </div>
            <div class="cover"></div>
            <p-orderList id="times" [value]="_data.game_times" [listStyle]="{'height':'auto', 'width': '100px !important'}">
                <ng-template let-time class="match" pTemplate="item">
                    <div class="times">
                        {{time.label}}
                    </div>
                </ng-template>
            </p-orderList>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Bondi
            </div>
            <p-orderList [value]="round.mondayBondi" (onSelectionChange)="setSelectedGame('Monday', 'bondi', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.mondayBondi[j])">
                    <b>{{(getGame(round.mondayBondi,j))[0]}}</b> vs <b>{{(getGame(round.mondayBondi,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[0]['bondi'], 'mondayKokomo', 'mondayBondi', i)" ></p-button>
            </div>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Kokomo
            </div>
            <p-orderList [value]="round.mondayKokomo" (onSelectionChange)="setSelectedGame('Monday', 'kokomo', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.mondayKokomo[j])">
                    <b>{{(getGame(round.mondayKokomo,j))[0]}}</b> vs <b>{{(getGame(round.mondayKokomo,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[0]['kokomo'], 'mondayBondi', 'mondayKokomo', i)" ></p-button>
            </div>
          </div>
        </div>
      </p-card>
      <br>
      <!----------- END MONDAY ------------>

      <!----------- TUESDAY ------------>
      <p-card class="day">
        <h3>Tuesday - {{addDay(round.startDate, 1)}}</h3>
        <div class="day-class">
          <div class="times-container">
            <div class="side-name">
            </div>
            <div class="cover"></div>
            <p-orderList id="times" [value]="_data.game_times" [listStyle]="{'height':'auto', 'width': '100px !important'}">
                <ng-template let-time class="match" pTemplate="item">
                    <div class="times">
                        {{time.label}}
                    </div>
                </ng-template>
            </p-orderList>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Bondi
            </div>
            <p-orderList [value]="round.tuesdayBondi" (onSelectionChange)="setSelectedGame('Tuesday', 'bondi', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.tuesdayBondi[j])">
                    <b>{{(getGame(round.tuesdayBondi,j))[0]}}</b> vs <b>{{(getGame(round.tuesdayBondi,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[1]['bondi'], 'tuesdayKokomo', 'tuesdayBondi', i)" ></p-button>
            </div>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Kokomo
            </div>
            <p-orderList [value]="round.tuesdayKokomo" (onSelectionChange)="setSelectedGame('Tuesday', 'kokomo', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.tuesdayKokomo[j])">
                    <b>{{(getGame(round.tuesdayKokomo,j))[0]}}</b> vs <b>{{(getGame(round.tuesdayKokomo,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[1]['kokomo'], 'tuesdayBondi', 'tuesdayKokomo', i)" ></p-button>
            </div>
          </div>
        </div>
      </p-card>
      <br>
      <!----------- END TUESDAY ------------>

      <!----------- WEDNESDAY ------------>
      <p-card class="day">
        <h3>Wednesday - {{addDay(round.startDate, 2)}}</h3>
        <div class="day-class">
          <div class="times-container">
            <div class="side-name">
            </div>
            <div class="cover"></div>
            <p-orderList id="times" [value]="_data.game_times" [listStyle]="{'height':'auto', 'width': '100px !important'}">
                <ng-template let-time class="match" pTemplate="item">
                    <div class="times">
                        {{time.label}}
                    </div>
                </ng-template>
            </p-orderList>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Bondi
            </div>
            <p-orderList [value]="round.wednesdayBondi" (onSelectionChange)="setSelectedGame('Wednesday', 'bondi', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.wednesdayBondi[j])">
                    <b>{{(getGame(round.wednesdayBondi,j))[0]}}</b> vs <b>{{(getGame(round.wednesdayBondi,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[2]['bondi'], 'wednesdayKokomo', 'wednesdayBondi', i)" ></p-button>
            </div>
          </div>
          <div class="list-holder">
            <div class="side-name">
              Kokomo
            </div>
            <p-orderList [value]="round.wednesdayKokomo" (onSelectionChange)="setSelectedGame('Wednesday', 'kokomo', $event)" (onReorder)="changeTimes()" [listStyle]="{'height':'auto', 'width': '100%'}">
              <ng-template let-match let-j='index' class="match" pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div *ngIf="!isEmpty(round.wednesdayKokomo[j])">
                    <b>{{(getGame(round.wednesdayKokomo,j))[0]}}</b> vs <b>{{(getGame(round.wednesdayKokomo,j))[1]}}</b>
                  </div>
                </div>
              </ng-template>
            </p-orderList>
            <div class="swap-container">
              <p-button label="Swap Selected Game Court" (click)="moveCourt(selectionList[2]['kokomo'], 'wednesdayBondi', 'wednesdayKokomo', i)" ></p-button>
            </div>
          </div>
        </div>
      </p-card>
      <!----------- END WEDNESDAY ------------>
    </p-accordionTab>
  </p-accordion>
</div>
<!-- Show save config button if any changes are made -->
<div (click)="saveChanged()" *ngIf="changedTimes == true && !saving" class="save-button">
  Save Configuration <i class="pi pi-save"></i>
</div>
<!-- Show disabled button with animated spinner if saving -->
<div *ngIf="changedTimes == true && saving" class="save-button-disabled">
  Save Configuration <i class="pi pi-spin pi-spinner"></i>
</div>
<!-- Fake div to display copy content -->
<div id="copy"></div>

<!-- Page Loader -->
<ng-template #pageLoading>
  <p-card [style]="{ width: '100%' }">
    <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
  </p-card>
</ng-template>
<br>
<br>
