.resend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

.day .ui-card {
  background-color: #f2f2f2 !important;
}

.day h3 {
  margin-top: 0px;
}

.day .matches {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

.matches .side {
  width: 50%;
  padding: 5px 10px;
}

table {
  border-spacing: 0px;
}

.table-header th {
  background-color: rgba(0,0,0,0.2);
  padding: 3px 5px;
  text-align: center;
  border: 1px solid #2d2d2d;
}

.table-body td {
  border: 1px solid #2d2d2d;
  text-align: center;
  padding: 3px 5px;
}

.times {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-row {
  width: 45%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.day-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.day-class .times-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-bottom: 70px;
}

.times-container {
  position: relative;
}

.times-container .time {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #2d2d2d;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}

.match {
  height: 50px;
}

.side-name {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.save-button, .save-button-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #007ad9;
  position: fixed;
  color: white;
  bottom: 56px;
  left: 0;
  right: 0;
}

.save-button:hover {
  background-color: #005b9f;
  cursor: pointer;
}

.save-button-disabled {
  background-color: #808080;
}

.drag-to {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px 0;
}

.swap-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
