
<p-card *ngIf="_data.teams | async; else pageLoading" header="Remove Team" [style]="{ width: '100%' }">
  <h4>Team to delete</h4>
  <p-dropdown placeholder="Select Team" class="teams" [options]="_data.teams | async" [(ngModel)]="selectedTeam" optionLabel="team_name" filter="true"></p-dropdown>
  <p-footer>
    <div class="footer-actions">
      <p-button *ngIf="!loading" label="Remove From Season" [disabled]="reason == ''" (onClick)="removeTeam()"></p-button>
      <p-button *ngIf="loading" label="Remove From Season" icon="pi pi-spin pi-spinner" [disabled]="loading"></p-button>
    </div>
  </p-footer>
</p-card>

<!-- Data Loader -->
<ng-template #pageLoading>
  <p-card header="Remove Team" [style]="{ width: '100%' }">
    <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
  </p-card>
</ng-template>
