.team-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.points h3 {
  margin: 5px 0;
}

.points span {
  display: block;
  margin-left: 10px;
}

.avaliablilities {
  text-align: center;
}
