<p-card *ngIf="!loading; else pageLoading">
  <div style="margin-bottom: 20px;">
    <!-- KOKOMO GAMES -->
    <h2>Kokomo</h2>
    <p-accordion [multiple]="false">
      <p-dataView [value]="kokomoTeams">
        <ng-template let-team pTemplate="listItem">
          <p-accordionTab *ngIf="team.grade == 'kokomo'" style="width: 100%;" [header]="team.team_name">
            <div class="team-section">
              <!-- POINTS -->
              <div class="points">
                <h3>
                  Points:
                </h3>
                <span>
                  {{team.points}}
                </span>
              </div>
              <!-- END POINTS -->

              <!-- Player Details -->
              <div>
                <p-table [value]="team.players">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Player Name</th>
                      <th style="width: 50px;">Age</th>
                      <th style="width: 70px;">Actions</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-player>
                    <tr>
                      <td>{{player.name}} <i *ngIf="team.captain == player.uid" class="pi pi-star"></i></td>
                      <td style="text-align: center;">{{this.getAge(player.dob)}}</td>
                      <td style="display: flex; justify-content: center; align-items: center;">
                        <div class="edit">
                          <button pButton icon="pi pi-pencil" type="button" class="ui-button-info" (click)="editPlayer(player)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- END Player Details -->

              <br>

              <!-- PREFFERED TIMES -->
              <div>
                Day: <b>{{team.avaliability.day.charAt(0).toUpperCase() + team.avaliability.day.slice(1)}}</b>
                <br>
                Times: <b>{{team.avaliability.times}}</b>
              </div>
              <!-- END PREFFERED TIMES -->
              <br>
              <!-- Edit Team -->
              <p-button label="Edit Team" (click)="editTeam(team)" icon="pi pi-pencil"></p-button>
            </div>
          </p-accordionTab>
        </ng-template>
      </p-dataView>
    </p-accordion>
    <!-- END KOKOMO GAMES -->

    <!-- BONDI GAMES -->
    <h2>Bondi</h2>
    <p-accordion>
      <p-dataView [value]="bondiTeams">
        <ng-template let-team pTemplate="listItem">
          <p-accordionTab *ngIf="team.grade == 'bondi'" style="width: 100%;" [header]="team.team_name">
            <div class="team-section">

              <!-- POINTS -->
              <div class="points">
                <h3>
                  Points:
                </h3>
                <span>
                  {{team.points}}
                </span>
              </div>
              <!-- END POINTS -->

              <!-- Player Details -->
              <div>
                <p-table [value]="team.players">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Player Name</th>
                      <th style="width: 50px;">Age</th>
                      <th style="width: 70px;">Actions</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-player>
                    <tr>
                      <td>{{player.name}} <i *ngIf="team.captain == player.uid" class="pi pi-star"></i></td>
                      <td style="text-align: center;">{{this.getAge(player.dob)}}</td>
                      <td style="display: flex; justify-content: center; align-items: center;">
                        <div class="edit">
                          <button pButton icon="pi pi-pencil" type="button" class="ui-button-info" (click)="editPlayer(player)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- END Player Details -->
              <br>
              <!-- PREFFERED TIMES -->
              <div>
                Day: <b>{{team.avaliability.day.charAt(0).toUpperCase() + team.avaliability.day.slice(1)}}</b>
                <br>
                Times: <b>{{team.avaliability.times}}</b>
              </div>
              <!-- END PREFFERED TIMES -->

              <br>

              <!-- Edit Team -->
              <p-button label="Edit Team" (click)="editTeam(team)" icon="pi pi-pencil"></p-button>
            </div>
          </p-accordionTab>
        </ng-template>
      </p-dataView>
    </p-accordion>
    <!-- END BONDI GAMES -->
  </div>
</p-card>

<!-- Page loading spinner -->
<ng-template #pageLoading>
  <p-card [style]="{ width: '100%' }">
    <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
  </p-card>
</ng-template>
<br>
