<p-card header="Add Player" [style]="{ width: '100%' }">
  <div class="ui-inputgroup">
    <!------- First Name ------->
    <div class="name">
      <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-user"></i></span>
      <input pInputText placeholder="Player First Name" [(ngModel)]="player.first_name" (change)="compileName(player)">
    </div>

    <!------- Last Name ------->
    <div class="name">
      <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-user"></i></span>
      <input type="text" pInputText placeholder="Player Last Name" [(ngModel)]="player.last_name" (change)="compileName(player)">
    </div>

    <!------- Date of birth ------->
    <div class="dob">
      <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-calendar"></i></span>
      <input type="text" pInputText placeholder="dd/mm/yyyy" (input)="KeyUpCalled(i)" maxlength="10" [(ngModel)]="player.dob">
    </div>
  </div>

  <!------- Actions ------->
  <p-footer>
    <div class="footer-actions">
      <p-button *ngIf="loading" icon="pi pi-spin pi-spinner" label="Save Player" [disabled]="loading" (onClick)="createPlayer()"></p-button>
      <p-button *ngIf="!loading" label="Save Player" [disabled]="player.name == '' || player.dob == ''" (onClick)="createPlayer()"></p-button>
    </div>
  </p-footer>
</p-card>
