<div>
  <h1>Bondi</h1>
  <ul>
    <li *ngFor="let team of bondiTeams; index as i" [hidden]="team == 'xx1' || team == 'xx2'">{{getTeamname(team)}} - {{bondiTeamsPoints[i]}}</li>
  </ul>
</div>
<div>
  <h1>Kokomo</h1>
  <ul>
    <li *ngFor="let team of kokomoTeams; index as i" [hidden]="team == 'xx1' || team == 'xx2'">{{getTeamname(team)}} - {{kokomoTeamsPoints[i]}}</li>
  </ul>
</div>

<div>
  <h1>Cancelled Teams</h1>
  <ul>
    <li *ngFor="let team of cancelledTeams; index as i" [hidden]="team == 'xx1' || team == 'xx2'">{{getTeamname(team)}} - {{cancelledTeamsPoints[i]}}</li>
  </ul>
</div>
