
<p-card *ngIf="!loading; else pageLoading" header="Remove Player" [style]="{ width: '100%' }">
  <h4>Player to delete</h4>
  <p-dropdown placeholder="Select Player" [options]="players | async" [(ngModel)]="selectedPlayer" optionLabel="name" filter="true"></p-dropdown>
  <p-footer>
    <div class="footer-actions">
      <p-button *ngIf="!deleting" label="Remove Player" [disabled]="!selectedPlayer" (onClick)="removePlayer()"></p-button>
      <p-button *ngIf="deleting" label="Remove Player" icon="pi pi-spin pi-spinner" [disabled]="loading"></p-button>
    </div>
  </p-footer>
</p-card>

<!-- Page loading data -->
<ng-template #pageLoading>
  <p-card header="Remove Player" [style]="{ width: '100%' }">
    <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
  </p-card>
</ng-template>
