<p-card *ngIf="!loading; else pageLoading">
  <h2>Players</h2>
  <!-- List of players -->
  <p-dataView [value]="playersFilter" filterBy="name">
    <p-header>
      <div class="p-col-6 p-md-4 filter-container">
          <div style="position:relative">
              <input type="search" pInputText placeholder="Search by name" (input)="filter($event.target.value)">
          </div>
      </div>
    </p-header>
    <ng-template let-player pTemplate="listItem">
        <div class="player-list-item">
          <h4>{{player.name}}</h4>
          <!-- Edit player -->
          <button pButton icon="pi pi-pencil" type="button" class="ui-button-info" (click)="editPlayer(player)"></button>
        </div>
    </ng-template>
</p-dataView>
</p-card>

<!-- Data loading spinner -->
<ng-template #pageLoading>
<p-card [style]="{ width: '100%' }">
  <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
</p-card>
</ng-template>
<br>
<br>
