.player-list-item {
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  h4 {
    margin: 0;
    padding: 5px;
  }
  .button {
    margin: 3px;
  }
}
