<!----------- MENU -------------->
<p-menubar [model]="items">
  <div>
    <button *ngIf="_data.userState | async" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em" (click)="logout()"></button>
  </div>
</p-menubar>
<!----------- END MENU ---------->

<!---------- MESSAGING SERVICE ------------->
<p-toast key="primary"></p-toast>
<!---------- END MESSAGING SERVICE ------------->

<!---------- MAIN CONTENT ------------->
<div class="content">
  <router-outlet></router-outlet>
</div>
<!---------- END MAIN CONTENT ------------->

<!---------- STATIC FOOTER ------------->
<div class="footer-logo-container">
  <img class="footer-logo" src="../assets/logo/logo.png">
</div>
<!---------- END STATIC FOOTER ------------->
