.content {
  padding: 70px;
}

p-menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

p-toast {
  z-index: 100 !important;
}

.footer-logo-container {
  padding: 5px;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 0px #bbb;
}

.footer-logo, .footer-logo img {
  width: 80px;
}
