<!-- Show login page when no user is logged in -->
<p-card header="Login" [style]="{ width: '300px' }">
  <img class="logo" src="../assets/logo/logo.png">
  <br>
  <div class="ui-fluid">
    <div class="p-field">
      <label for="username">Username</label>
      <input [(ngModel)]="credentials.username" id="username" type="text" pInputText >
    </div>
    <br>
    <div class="p-field">
        <label for="password">Password</label>
        <input [(ngModel)]="credentials.password" id="password" type="password" pInputText >
    </div>
  </div>
  <br>
  <p-button *ngIf="loggingIn" [disabled]="true" label="Login" icon="pi pi-spin pi-spinner" iconPos="left"></p-button>
  <p-button *ngIf="!loggingIn" (click)="login()" label="Login" icon="pi pi-sign-in" iconPos="left"></p-button>
</p-card>
<br>
<br>
