/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: content-box;
  font-family: 'Open Sans', sans-serif;
  outline: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
li:focus {
    outline: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
}

.action-button {
  margin-left: 10px;
}

.player {
  margin-bottom: 10px;
}

.name, .dob {
  margin-right: 10px;
}

.ui-inputgroup .ui-inputgroup-addon {
  display: inline !important;
}

.footer-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.ui-orderlist-item {
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.03);
  border-top: 1px solid rgba(0,0,0,0.1) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}

.list-holder {
  flex: 1;
}

#times .ui-orderlist-controls {
  display: none !important;
}

.success .ui-card {
  border-left: 10px solid #2ecc71;
  margin-bottom: 10px;
}

.error .ui-card {
  border-left: 10px solid #e74c3c;
  margin-bottom: 10px;
}

.info .ui-card {
  border-left: 10px solid #3498db;
  margin-bottom: 10px;
}

.warn .ui-card {
  border-left: 10px solid #f1c40f;
  margin-bottom: 10px;
}
