<p-card header="Add Team" [style]="{ width: '100%' }">
  <!----- Team Name ----->
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-users"></i></span>
            <input [(ngModel)]="team.team_name" type="text" pInputText placeholder="Team Name">
        </div>
    </div>
  </div>

  <!------- Team Players ------->
  <h4>Players</h4>
  <!---- Add new or existing player ---->
  <div style="margin-bottom: 10px;">
    <p-button class="action-button" label="Add New Player" (onClick)="addPlayer()"></p-button>
    <p-button class="action-button" label="Add Existing Player" (onClick)="addExistingPlayer()"></p-button>
  </div>
  <div>
    <div class="player" *ngFor="let player of players; let i = index">
      <!---- ADD PLAYER ---->
      <div *ngIf="player.type == 'new' || player.type == 'picked'" class="ui-inputgroup">
        <!---- If player is the captain, show star ---->
        <div class="captain">
          <i *ngIf="team.captain == player.uid" class="pi pi-star"></i>
        </div>

        <!---- First Name ---->
        <div class="name">
          <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-user"></i></span>
          <input pInputText [disabled]="player.type == 'picked'" placeholder="Player First Name" [(ngModel)]="player.first_name" (change)="compileName(player)">
        </div>

        <!---- Last Name ---->
        <div class="name">
          <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-user"></i></span>
          <input type="text" [disabled]="player.type == 'picked'" pInputText placeholder="Player Last Name" [(ngModel)]="player.last_name" (change)="compileName(player)">
        </div>

        <!---- Date of birth ---->
        <div class="dob">
          <span class="ui-inputgroup-addon"><i class="pi pi-fw pi-calendar"></i></span>
          <input type="text" [disabled]="player.type == 'picked'" pInputText placeholder="dd/mm/yyyy" (input)="KeyUpCalled(i)" maxlength="10" [(ngModel)]="player.dob">
        </div>

        <!---- Remove player from list ---->
        <div class="delete">
          <button pButton icon="pi pi-times" type="button" class="ui-button-danger" (click)="removePlayer(i)"></button>
        </div>
      </div>
      <!---- END ADD PLAYER ---->

      <!---- SELECT EXISTING PLAYER ---->
      <div style="padding-left: 20px;" *ngIf="player.type == 'existing'">
        <p-dropdown filter="true" placeholder="Select existing player" [options]="suggestedPlayers" [(ngModel)]="player" (onChange)="pickPlayer(player, i)" optionLabel="name"></p-dropdown>
      </div>
    </div>
  </div>
  <!--- Select Captain --->
  <p-button class="action-button" label="Select Captain" (onClick)="selectCaptain()"></p-button>
  <!--- Select Captain dialog box --->
  <p-dialog [contentStyle]="{'overflow':'visible'}" modal="true" header="Confirm Captain" [(visible)]="captainDisplay">
    <p-dropdown *ngIf="captainDisplay" [options]="players" [(ngModel)]="captain" (onChange)="changeCaptain()" placeholder="Select Captain" optionLabel="name"></p-dropdown>
    <p-footer>
      <p-button label="Confirm" (onClick)="closeCaptain()"></p-button>
    </p-footer>
  </p-dialog>
  <!--- END Select Captain dialog box --->

  <!--- Select Court to play on A/B grade -->
  <h4>Grade</h4>
  <p-selectButton [options]="this._data.game_grades" [(ngModel)]="team.grade"></p-selectButton>

  <!--- Avaliabilities of team -->
  <!-- TODO: Work on making avaliablities considered in season building -->
  <h4>Avaliabilities</h4>
  <!-- Avaliable Day -->
  <h5 style="margin-bottom:5px;">Days</h5>
  <p-selectButton [options]="this._data.game_days" [(ngModel)]="team.avaliability.day" ></p-selectButton>
  <!-- Avaliable Times on that day-->
  <h5 style="margin-bottom:5px;">Times</h5>
  <p-selectButton [options]="this._data.game_times" [(ngModel)]="team.avaliability.times" multiple="multiple" ></p-selectButton>

  <!-- Save team actions -->
  <p-footer>
    <div class="footer-actions">
      <p-button *ngIf="loading" [label]="isEdit ? 'Save Team' : 'Generate Team'" icon="pi pi-spin pi-spinner" [disabled]="loading"></p-button>
      <p-button *ngIf="!loading" [label]="isEdit ? 'Save Team' : 'Generate Team'" [disabled]="players.length < 2 || team.team_name == ''" (onClick)="generateTeam()"></p-button>
    </div>
  </p-footer>
</p-card>
<br>
