.current-week, .rebuild-season-container, .new-season-container {
  margin-bottom: 15px !important;
  display: block
}

.card-text {
  display: block;
  margin-bottom: 10px;
}

.start-date-dropdown, .risk-checkbox {
  margin-bottom: 20px;
  display: block;
}
