<!-- Display current week in season -->
<p-card class="current-week" *ngIf="currentWeek" header="Current Season">
  {{currentWeek}}
  <br>
  <br>
  <p-button *ngIf="generating && createNewSeason" label="Generate New Season" [disabled]="true" icon="pi pi-spin pi-spinner" iconPos="right" (onClick)="generateNewSeason()"></p-button>
  <p-button *ngIf="!generating && createNewSeason" label="Generate New Season" [disabled]="false" (onClick)="generateNewSeason()"></p-button>
</p-card>

<!-- Show text when rebuilding season only -->
<p-card *ngIf="!loading && isEdit" class="rebuild-season-container" header="Rebuild Season">
    <div>Removing a team from play requires you to build a new season with the remaining weeks. Rebuilding Now.</div>
</p-card>

<!-- Show card whith options when generating a new season -->
<p-card *ngIf="!loading && !isEdit && !createNewSeason" class="new-season-container" header="Generate New Season">
    <span class="card-text">The following button will generate the playing season with all currently enrolled teams</span>
    <p-dropdown class="start-date-dropdown" [options]="mondays" [(ngModel)]="selectedStartDate" placeholder="Select Week Starting" optionLabel="day"></p-dropdown>
    <p-checkbox class="risk-checkbox" [(ngModel)]="riskAccepted" [binary]="true" label="This will overwrite your current season. This will end the current season and generate a new one. Tick this box to confirm risk."></p-checkbox>
    <!-- Dual button for loading animation -->
    <p-button *ngIf="!generating" [disabled]="!riskAccepted || (selectedStartDate == undefined)" label="Generate Season" (onClick)="generateSeason()"></p-button>
    <p-button *ngIf="generating" label="Generate Season" [disabled]="true" icon="pi pi-spin pi-spinner" iconPos="right" (onClick)="generateSeason()"></p-button>
</p-card>

<!-- On page load spinner -->
<p-card *ngIf="loading" [style]="{ width: '100%' }">
  <app-spinner style="display: block; width: 100%; text-align: center;"></app-spinner>
</p-card>
<br>
